@import '../../uni-compass-theme.scss';

.barChartTitle{
    padding-top: 5px;
    text-align:center;
}

.chart{
    background-color: mat-color($app-primary, 100);
}
.bars {
    padding-bottom: 20%;
}