@import '../../uni-compass-theme.scss';

.pieChartTitle{
    padding-top: 5px;
    text-align:center;
}

.chart{
    background-color: mat-color($app-primary, 100);
}
.pie {
    padding-bottom: 10px;
}