<mat-tab-group mat-align-tabs="center" class="appTab" [color]="black">
  <mat-tab label="Search">
    <div class="searchTabContainer">
      <searchbar (searchEvent)="search($event)"></searchbar>
      <uni-list (openUniversityEvent)="onOpenUniversity($event)"
        [universityItemList]="universityItemList" [universityItemFavoritesList]="universityItemFavoritesList"
        [universityItemSavedList]="universityItemSavedList" [resultsString]="resultsString"
      ></uni-list>
    </div>
  </mat-tab>
  <mat-tab label="Favorites" [disabled]="true"> Favorites </mat-tab>
  <mat-tab label="Saved For Later" [disabled]="true"> Saved For Later </mat-tab>
</mat-tab-group>
