<mat-card>
  <h3 class="resultsString">
    {{resultsString}}
  </h3>
</mat-card>

<mat-card class="coursesList">

    <mat-card class="coursesHeader coursesRow">
      <h4 class="coursesRecord" *ngFor="let coursesHeader of coursesHeaderList">{{coursesHeader}}</h4>
    </mat-card>

    <mat-card class="coursesItem coursesRow" *ngFor="let coursesItem of coursesItemList" (click)="openCourses(coursesItem.coursesId)">
        <h4 class="coursesRecord">{{coursesItem.coursesversityName}}</h4>
        <h4 class="coursesRecord">{{coursesItem.city}}</h4>
        <h4 class="coursesRecord">
        </h4>
    </mat-card>
</mat-card>


