<div> 
  <mat-toolbar color="primary">

     <button *ngIf="!mobile" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <a (click)="goBack()">
        <img height="60" src="./assets/images/favicon.png">
      </a>
      <span class="menu-spacer"></span>
      <div *ngIf="mobile">
        <a href="#" mat-button *ngIf="uniItem" (click)="goBack()">Return to previous list</a>
        <a href="#" mat-button>Profile</a>
        <a href="#" mat-button>Logout</a>
        <mat-form-field>
          <mat-select [(value)]="selectedLanguage" [ngClass]="selectedLanguage">
              <mat-option value="en">
                <img with="10" height="20" src="assets/images/en.png">
              </mat-option>
              <mat-option value="de">
                  <img with="10" height="15" src="assets/images/de.png">
                </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a href="#" mat-list-item>Profile</a>
        <a href="#" mat-list-item>Logout</a>
        <mat-form-field>
          <mat-select [(value)]="selectedLanguage" [ngClass]="selectedLanguage">
              <mat-option value="en">
                <img with="10" height="20" src="./assets/images/en.png">
              </mat-option>
              <mat-option value="de">
                  <img with="10" height="15" src="./assets/images/de.png">
                </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <tabbar [hidden]="uniItem" (openUniversityEvent)="onOpenUniversity($event)"></tabbar>
      <university-details [hidden]="!uniItem" [(uniItem)]="uniItem"></university-details>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
