@import '../../uni-compass-theme.scss';

.menu-spacer {
   flex: 1 1 auto;
}

button {
   margin: 10px;
}

.mat-toolbar {
   background-color: mat-color($app-primary, 500);

   .mat-option-text {
      display: contents;
   }
}

.mat-form-field {
   width: 70px;
}

.en{
   background:  url("../../assets/images/en.png") center / contain no-repeat;
   white-space: nowrap
}

.de{
   background:  url("../../assets/images/de.png") center / contain no-repeat;
   white-space: nowrap
}

a:hover {
   cursor: pointer;
}