<mat-card>

  <mat-form-field>
      <mat-select [(value)]="selected">
          <mat-option value="en">Option 1
          </mat-option>
      </mat-select>
    </mat-form-field>

  <button mat-raised-button color="primary" (click)="search()" matTooltip="Search for universities">Search</button>
  <button mat-raised-button color="primary" (click)="more()" matTooltip="Show more filters to add">Add Filters</button>

  <div [hidden]="moreHidden">
      <mat-form-field>
          <mat-select [(value)]="selected">
              <mat-option value="en">Option 1
              </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</mat-card>
