@import '../../uni-compass-theme.scss';

.searchBarCard {
    margin-bottom: 10px;
    padding: 10px;
}

.filter {
    margin: 10px;
    width: 180px;
    height: 60px;
    display: inline-block;
    position: relative;
    text-align: left;
    background-color: mat-color($app-primary, 50);
    box-shadow: 2px 2px 5px mat-color($app-primary, 50);

    .mat-select-value {
        color: mat-color($app-primary, 500);
    }

    .mat-select-arrow-wrapper {
        color: mat-color($app-primary, 500);
    }

    .mat-form-field-label {
        color: mat-color($app-primary, 500);
    }

    .material-icons {
        color: mat-color($app-primary, 500);
        position: absolute;
        visibility: hidden;
    }

    &:hover .material-icons {
        visibility: visible;
    }

    .addRemoveFilter {
        left: 160px;
        top: -4px;
    }

    .helpFilter {
        left: 137px;
        top: -4px;
    }
}

.rangeFilter {

    .labelWrapper {
        // position: absolute;
        h6 {
            color: rgba(0, 0, 0, 0.54);
            margin: 0px;
            font-weight: 400;
            display: block;
            position: absolute;
            left: 0;
        }
    }

    .contentWrapper {
        display: inline-flex;
        h6 {
            color: rgba(0, 0, 0, 0.54);
        }
        .contentItem {
            padding: 2px;
        }

        mat-form-field {
            width: 50px;
            text-align: center;
        }
    }

}

form {
    mat-card-actions {
        text-align: right;
    }
}

.mat-card-actions {
    margin-bottom: 0px;
}
