<mat-card class="programmesList">

    <!-- <div class="searchBarCard">

        <div class="filter" id="domainDetails">
          <mat-form-field>
            <mat-select placeholder="Domain" disableRipple>
              <mat-option *ngFor="let domain of domainList" [value]="domain">{{ domain }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="filter" id="directSearchDetails">
          <mat-form-field>
            <input matInput placeholder="Direct Search" value="">
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button color="primary" matTooltip="Search for programmes">Search</button>

    </div> -->
    <mat-card class="searchBarCard">

            <div class="filter" id="domainDetails">
              <mat-form-field>
                <mat-select placeholder="Domain" disableRipple>
                  <mat-option *ngFor="let domain of domainList" [value]="domain">{{ domain }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
    
            <div class="filter" id="directSearchDetails">
              <mat-form-field>
                <input matInput placeholder="Direct Search" value="">
              </mat-form-field>
            </div>
    
            <button type="submit" mat-raised-button color="primary" matTooltip="Search for programmes">Search</button>

    </mat-card>

    <mat-card class="programmesHeader programmesRow">
        <mat-grid-list cols="125" rowHeight="40px">
            <mat-grid-tile [colspan]="25" *ngFor="let programmesHeader of programmesHeaderList">
                <h4 class="programmesRecord">{{programmesHeader}}</h4>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card>


    <mat-card class="programmesItem programmesRow" *ngFor="let programmeItem of programmesItemList">
      <mat-grid-list cols="125" rowHeight="40px">
        <mat-grid-tile [colspan]="25">
          <h4 class="programmesRecord">{{programmeItem.name}}</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="25">
          <h4 class="programmesRecord">{{programmeItem.domain}}</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="25">
          <h4 class="programmesRecord">{{programmeItem.type}}</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="25">
          <h4 class="programmesRecord">{{programmeItem.tuitionFeesDomestic}}</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="25">
          <h4 class="programmesRecord">{{programmeItem.tuitionFeesInternational}}</h4>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

</mat-card>