<mat-card>
  <h3 class="resultsString">
    {{resultsString}}
  </h3>
</mat-card>

<mat-card class="uniList">

    <mat-card class="uniHeader uniRow">
      <h4 class="uniRecord" *ngFor="let uniHeader of universityHeaderList">{{uniHeader}}</h4>
    </mat-card>

    <mat-card class="uniItem uniRow" *ngFor="let uniItem of universityItemList" (click)="openUniversity(uniItem.universityId)">
        <h4 class="uniRecord">{{uniItem.universityName}}</h4>
        <h4 class="uniRecord">{{uniItem.city}}</h4>
        <h4 class="uniRecord">{{uniItem.undergraduatePrograms}}</h4>
        <h4 class="uniRecord">{{uniItem.postgraduatePrograms}}</h4>
        <h4 class="uniRecord">{{uniItem.graduationRates}}</h4>
        <h4 class="uniRecord">{{uniItem.employability}}</h4>
        <h4 class="uniRecord">{{uniItem.lifeQuality}}</h4>
        <h4 class="uniRecord">{{uniItem.teachingExcellence}}</h4>
        <h4 class="uniRecord">
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">favorite</i>
          <i class="material-icons">bookmark_border</i>
          <i class="material-icons">bookmark</i>
        </h4>
    </mat-card>
</mat-card>


