@import '../../uni-compass-theme.scss';

.container {
    overflow: overlay;
    background-image: url("../../assets/images/backgroundWhite.jpg");

    .mat-card {
        margin: 10px;
    }

    .logoWrapper {
        text-align: center;
        .logo {
            width: 200px; 
        }
    }


    // .block_level1 {
    //     width: 100%;
    //     height: 100%;

    //     .mat-grid-list {
    //         height: 100%;

    //         .block_level2 {
    //             width: 100%;
    //             height: 100%;
    //             padding: 10px;

    //             .mat-grid-list {
    //                 height: 100%;
    //             }
    
    //             .title {
    //                 text-align: center;
    //                 // width: 100%;
    //             }
        
    //             .logo {
    //                 text-align: center;
    //                 width: 200px; 
    //                 // height: 200px; 
    //             }
    //         }

    //     }
    // }

    .chartTitle {
        margin: 0px;
        padding: 15px;
        text-align:center;
        color: mat-color($app-primary, 500);
    }
}
