.rightBlock{
    float:right;
    width: 55%;
}

.ratioPies {
    width: 42%;
    float:right;
    padding:5px;
}

.livingExpensesPies {
    width: 42%; 
    float:right;
    padding:5px;
}

programmes-list{
    float: left;
    width: 45%;
}
