.rightBlock{
    float:right;
    width: 55%;
}

.leftPies {
    width: 42%;
    float:right;
    padding: 2px;
}

.rightPies {
    width: 42%; 
    float:right;
    padding: 2px;
}

programmes-list{
    float: left;
    width: 45%;
}