<h1>universityDetails: {{uniItem.universityId}}</h1>
<button mat-raised-button color="basic" (click)="goBack()">Back</button>
<programmes-list [uniItem]="uniItem" (openProgrammesEvent)="onOpenProgramme($event)"></programmes-list>

<div class="rightBlock">

    <div class="leftPies">
        <pie-diagram class="ratios1" [data]="uniItem.ratios[0]"></pie-diagram> 
        <pie-diagram class="livingExpensesRecommended" [data]="uniItem.monthlyLivingExpensesRecommended"></pie-diagram>
    </div>
            
    <div class="rightPies">
        <pie-diagram class="ratios2" [data]="uniItem.ratios[1]"></pie-diagram> 
        <pie-diagram class="livingExpensesMinimum" [data]="uniItem.monthlyLivingExpensesMinimum"></pie-diagram>
    </div>

</div>
